<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>nav</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Coworking<span class="highlight-cba">CBA</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active"><i class="fa fa-home"></i> Inicio</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="/catalogo" routerLinkActive="active"><i class="fa fa-list"></i> Catálogo</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link"  (click)="logout()" routerLink="/login" ><i class="fa fa-sign-out"></i> Cerrar Sesión</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/registro"><i class="fa fa-user-plus"></i> Registrarse</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn" >
            <a class="nav-link"  routerLink="/login"><i class="fa fa-sign-in"></i> Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  

      
</body>
</html>