<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="bg-dark text-light">
        <div class="container py-4">
          <div class="row">
            <div class="col-md-6 mb-4 mb-md-0">
              <h5>Quiénes somos</h5>
              <p>Somos CoworkingCBA, una plataforma dedicada a ofrecer espacios de trabajo colaborativos y privados en la ciudad de Córdoba.</p>
            </div>
            <div class="col-md-6">
              <h5>Contacto</h5>
              <ul class="list-unstyled">
                <li><i class="fas fa-map-marker-alt"></i> Dirección: Calle Politecnico, Nueva Córdoba, Córdoba, Argentina</li>
                <li><i class="fas fa-envelope"></i> Email: info [at] coworkingcba.com</li>
                <li><i class="fas fa-phone"></i> Teléfono: +54 9 351 123 4567</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="text-center py-3">
          <p>&copy; 2024 CoworkingCBA. Todos los derechos reservados.</p>
        </div>
      </footer>
      
</body>
</html>