.card {
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  max-height: 200px; 
  object-fit: cover; 
}

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center; 
  padding: 1.5rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  flex: 1; 
  margin-right: 1rem;
}

.card-text {
  color: #666;
  flex: 1; 
}

.btn-primary {
  background-color: #c4d5d6; 
  border-color: #c4d5d6;
  color: #333; 
  margin-left: auto;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #a9c3c4; 
  border-color: #a9c3c4;
}
.cart-sidebar {
  position: sticky;
  top: 0;
  width: 380px; 
  max-height: 100vh; 
  overflow-y: auto;
  background-color: #e4f7f3; 
  padding: 20px; 
  border-left: 5px solid #60c797; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.425); 
}

/* Opcional: estilo para el título del carrito */
.cart-sidebar h4 {
  font-size: 1.4rem; /* Tamaño de fuente del título */
  margin-bottom: 5px; /* Espaciado inferior */
  color: #333; /* Color del texto del título */
}

/* Opcional: estilo para los elementos de la lista */
.cart-sidebar ul {
  padding-left: 0; /* Elimina el padding izquierdo predeterminado */
}

.cart-sidebar ul li {
  border-bottom: 2px solid #ddd; /* Línea separadora entre elementos */
  padding: 10px 0; /* Espaciado vertical en cada elemento */
}

.cart-sidebar li button {
  border: none;
  background: none;
  font-size: 18px;
}
.cart-sidebar li input[type="date"] {
  margin-left: 10px;
  width: auto;
}


.modal {
  display: none; /* Ocultar el modal por defecto */
  position: fixed;
  z-index: 1050;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
  transition: opacity 0.3s ease;
}

/* Estilos para el diálogo del modal */
.modal-dialog {
  position: relative;
  width: auto;
  margin: 5vh auto; /* Centrar verticalmente y horizontalmente */
  max-width: 40%;
  max-height: 30%;
}

/* Estilos para el contenido del modal */
.modal-content {
  position: relative;
  background-color: #fff;
  border: none;
  border-radius: .5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  animation: fadeIn 0.3s ease;
}

/* Estilos para la cabecera del modal */
.modal-header {
  padding: 1.5rem;
  border-bottom: 1px solid #d7eee1;
  background-color: #d7eee1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para el cuerpo del modal */
.modal-body {
  padding: 1.5rem;
}

/* Estilos para el pie del modal */
.modal-footer {
  padding: 1.5rem;
  border-top: 1px solid #d7eee1;
  background-color: #e2e9e5;
  display: flex;
  justify-content: flex-end;
}

/* Botones del modal */
.modal-footer .btn {
  margin-left: 0.5rem;
}

/* Animación de entrada del modal */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo para el botón de cerrar */
.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #000;
}

.close:hover {
  color: #dc3545;
}

